.not-found-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #130a26;
  top: 0;
  left: 0;
  z-index: 0;
}
.ellipse {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 1;
}

.ellipse1 { width: 400px; height: 400px; background-color: rgba(2, 148, 176, 0.8); left: 80%; top: 70%; }
.ellipse2 { width: 400px; height: 400px; background-color: rgba(2, 148, 176, 0.8); left: 5%; top: -20%; }
.ellipse3 { width: 400px; height: 400px; background-color: #4a1071; left: 10%; top: 90%; }

.not-found-container {
  position: relative;
  z-index: 10;
  text-align: center;
}

.not-found-title {
  font-size: 120px;
  font-weight: 800;
  color: white;
  margin-bottom: 5px;
}

.not-found-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #0294B0;
  margin-bottom: 40px;
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #4a1071;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s;
}

.home-button:hover {
  background-color: #5a1b82;
}