.loading-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #130a26;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
}

.loading-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 72px;
  color: white;
  text-align: center;
}
