.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #130a26;
  border: 1px solid #0294b0;
  padding: 30px;
  border-radius: 15px;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal-title {
  color: white;
  margin-bottom: 25px;
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
}

.avatar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.avatar-option {
  cursor: pointer;
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition:
    border-color 0.2s,
    transform 0.1s;
}

.avatar-image-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-option.selected {
  border-color: #0294b0;
  box-shadow: 0 0 10px #0294b0;
}

.avatar-option:hover {
  transform: scale(1.05);
  border-color: #4a1071;
}

.close-button {
  background-color: #4a1071;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.2s;
}

.close-button:hover {
  background-color: #5a1b82;
}
